<!DOCTYPE html>
<html>

<head>
  <title>Musicbox</title>

  <meta name="author" content="Tobias Munzert">
  <meta name="keywords"
    content="Music, Visualizer, Musicbox, Tobias, Munzert, Tobias Munzert, Joy Division, Unknown Pleasures, Karpatenhund, Pink Floyd, The Dark Side of the Moon, Velvet Underground">
  <meta name="description"
    content="Musicbox Visualizer for the Web, a project by Tobias Munzert, inspired by the iconic album covers of Joy Division's Unknown Pleasures, Karpatenhund's #3, Pink Floyd's The Dark Side of the Moon and others.">

  <meta name="viewport"
    content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />

  <link rel="manifest" href="app.webmanifest" />
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
  <meta name="theme-color" content="#000000">
  <style>
    html,
    body,
    #app {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>

  <script type="text/javascript">
    // Single Page Apps for GitHub Pages
    // MIT License
    // https://github.com/rafgraph/spa-github-pages
    // This script checks to see if a redirect is present in the query string,
    // converts it back into the correct url and adds it to the
    // browser's history using window.history.replaceState(...),
    // which won't cause the browser to attempt to load the new url.
    // When the single page app is loaded further down in this file,
    // the correct url will be waiting in the browser's history for
    // the single page app to route accordingly.
    (function (l) {
      if (l.search[1] === '/') {
        var decoded = l.search.slice(1).split('&').map(function (s) {
          return s.replace(/~and~/g, '&')
        }).join('?');
        window.history.replaceState(null, null,
          l.pathname.slice(0, -1) + decoded + l.hash
        );
      }
    }(window.location))
  </script>
</head>

<body>
  <div id="app"></div>
</body>

</html>