.minimap {
  position: absolute;
  top: 60px;
  left: 10px;
  overflow: hidden;
  background-color: #000;

  canvas {
    width: 100%;
    height: 100%;
    image-rendering: auto;
  }

  .minimap-marker {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid var(--player-color);
    transform: translate(-50%, -50%);
    transform-origin: center 66%;
    filter: drop-shadow(0 0 2px var(--player-color));
  }
}