.menubar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  justify-items: start;
  align-items: end;
  transition: transform 0.6s ease-in-out, opacity 0.5s ease;
  transform: translateY(0);
  opacity: 1;
  z-index: 1000;
  pointer-events: none;

  &.hidden {
    transform: translateY(100%);
    opacity: 0;
  }

  button {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
  }

  & > * {
    pointer-events: all;
    max-width: 100%;

    &:last-child {
      margin-left: auto;
    }
  }
}
