.drawing-board {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-width: 800px;
  gap: 1rem;
}

.canvas-wrapper {
  padding: 1rem;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
