.about-container {
  width: 250px;
  padding: 1rem;
  text-align: justify;

  .about-links {
    display: flex;
    justify-content: start;
    gap: 1em;
    margin-top: 1em;

    a {
      color: var(--color-action);
      text-decoration: none;
      margin: 0 0.5em;
      transition: color 0.2s;

      &:hover {
        color: var(--color-action-hover);
        text-decoration: underline;
      }

      .about-icon {
        vertical-align: middle;
        margin-right: 0.3em;
      }
    }
  }
}
