.tmusic {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;

  .menu-item-content-wrapper {
    box-sizing: border-box;
    padding: 1.5rem;

    h2:first-child {
      margin-top: 0;
    }
  }
}
