.visualization-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: justify;
  width: 400px;
  max-width: 100%;
  padding: 1rem;
  box-sizing: border-box;

  h1,
  h2 {
    margin: 0;
  }

  h3 {
    font-size: 0.8rem;
    font-weight: 500;
    border-bottom: 1px solid white;
    width: 100%;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    color: var(--color-text-secondary);
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 1rem;
  }

  .visualization-cover-art {
    text-align: center;
    &.visualization-cover-art-large {
      img {
        width: 100%;
      }
    }
    img {
      width: 36px;
      transition: width 0.5s ease;
      aspect-ratio: 1/1;
    }
  }
}
