@import 'assets/font/akzidenz-grotesk/stylesheet.css';

:root {
  --color-text: #fafafa;
  --color-text-secondary: #cccccc;
  --color-action: #ffdeb6;
  --color-action-hover: #ffbf71;
  --color-background: rgba(0, 0, 0, 0.4);
}

body {
  font-family: 'Berthold Akzidenz Grotesk BE', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: var(--color-text);
  background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  font-weight: 500;
}

button {
  color: var(--color-action);
  &:hover {
    color: var(--color-action-hover);
  }
}
