.settings {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-sizing: border-box;

  section {
    h1,
    h2 {
      text-transform: capitalize;
    }
  }
}

.settings--with-visualization {
  display: flex;
  flex-direction: row;
}
